{% extends 'base.html' %}
{% load staticfiles %}

 {% block jumbotron %}
 	<div class="jumbotron">
    <h1>Animals</h1>
    </div>
 {% endblock %}

      
{% block content %}
<div class="row">
    <div class="col-md-3">
          <a href ="#"><img src="{% static 'img/3.jpg' %}" class = 'img-responsive'/></a>
    </div>

    <div class="col-md-3">
          <a href ="#"><img src="{% static 'img/3.jpg' %}" class = 'img-responsive'/></a>
    </div>

    <div class="col-md-3">
          <a href ="#"><img src="{% static 'img/3.jpg' %}" class = 'img-responsive'/></a>
    </div>

    <div class="col-md-3">
          <a href ="#"><img src="{% static 'img/3.jpg' %}" class = 'img-responsive'/></a>
    </div>
</div>

<br/>

<div class="row">
  <div class="col-md-3">
          <a href ="#"><img src="{% static 'img/3.jpg' %}" class = 'img-responsive'/></a>
    </div>
    
    <div class="col-md-3">
          <a href ="#"><img src="{% static 'img/3.jpg' %}" class = 'img-responsive'/></a>
    </div>
    <div class="col-md-3">
          <a href ="#"><img src="{% static 'img/3.jpg' %}" class = 'img-responsive'/></a>
    </div>
    
    <div class="col-md-3">
          <a href ="#"><img src="{% static 'img/3.jpg' %}" class = 'img-responsive'/></a>
    </div>
</div>

<br/>

<div class="row">
  <div class="col-md-3">
          <a href ="#"><img src="{% static 'img/3.jpg' %}" class = 'img-responsive'/></a>
    </div>
    
    <div class="col-md-3">
          <a href ="#"><img src="{% static 'img/3.jpg' %}" class = 'img-responsive'/></a>
    </div>
    <div class="col-md-3">
          <a href ="#"><img src="{% static 'img/3.jpg' %}" class = 'img-responsive'/></a>
    </div>
    
    <div class="col-md-3">
          <a href ="#"><img src="{% static 'img/3.jpg' %}" class = 'img-responsive'/></a>
    </div>
</div>       

{% endblock %}
